{
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "svelteAllowShorthand": true
}
